language: go
go:
  - 1.13.x

os:
  - linux
  - osx

install: make bootstrap

cache:
  - directories:
      - "$GOPATH/bin"
      - "$GOPATH/pkg"

branches:
  only:
    - master
    - "/^v([0-9]+)\\.([0-9]+)\\.([0-9]+)(?:\\-(rc\\.[0-9]+)*)?$/"

script:
  - make lint
  - make test