---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})
{{ .Description | trimspace }}

You can set up an integration between two Aiven services or an Aiven service and an external
service. For example, you can send metrics from a Kafka service to an M3DB service,
send metrics from an M3DB service to a Grafana service to show dashboards, and send logs from 
any service to OpenSearch.

**Services integrations are not supported for services running on hobbyist plans.**

{{ if .HasExample -}}
## Example Usage
{{ tffile .ExampleFile }}
{{- end }}
{{ .SchemaMarkdown | trimspace }}
{{ if .HasImport -}}
## Import
Import is supported using the following syntax:
{{ codefile "shell" .ImportFile }}
{{- end }}
