name: Changelog Check
on:
  pull_request:
    branches: [master]

jobs:
  check_changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 0
      - uses: Zomzog/changelog-checker@v1.2.0
        with:
          fileName: CHANGELOG.md
          noChangelogLabel: 'skip-changelog'
          checkNotification: Detailed
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

